/*==========  header  ==========*/
header {
  padding: 24px 0 36px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  background: transparent; }
  header:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: calc(100% - 30px);
    max-width: 1800px;
    height: 2px;
    background: #fff; }
  header .container {
    max-width: 1860px; }
  header .dropdown .mail {
    margin: 15px 0 30px; }
  header .logo {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1); }
  header.fixed {
    background: #fff;
    color: #000;
    border-bottom: 2px solid #000; }
    header.fixed:before {
      display: none; }
    header.fixed .logo {
      -webkit-filter: invert(1);
              filter: invert(1); }
    header.fixed .menu li a {
      color: #000; }
    header.fixed .btn-catalog__icon {
      fill: #000; }
    header.fixed .btn-search, header.fixed .links-social {
      stroke: #000; }
    header.fixed .documents-links .svg-icon {
      stroke: #000; }
    header.fixed .documents-links a {
      color: #000; }
    header.fixed .documents-links .format-document {
      color: #fff; }
    header.fixed .documents-links-pdf {
      background: #F5F0ED; }
    header.fixed .btn-border {
      color: #000;
      border-color: #000; }
      header.fixed .btn-border:hover, header.fixed .btn-border:focus {
        border: 1px solid #000;
        color: #000;
        background: transparent; }
    header.fixed .dropdown-toggle:hover, header.fixed .dropdown-toggle:focus {
      border: 1px solid #000;
      color: #000;
      background: transparent; }
    header.fixed .dropdown-toggle::after {
      background: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 7L15 1' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat center;
        background-size: 100%; }
    header.fixed .show > .btn-secondary.dropdown-toggle {
      border: 1px solid #000;
      color: #000; }

.header {
  background: #fff;
  color: #000; }
  .header .btn-menu {
    color: #000; }
  .header .btn-menu__icon {
    fill: #000;
    stroke: none; }
    .header .btn-menu__icon .svg-icon {
      stroke: none; }
  .header:before {
    background: #000; }
  .header .logo {
    -webkit-filter: invert(1);
            filter: invert(1); }
  .header .menu li a {
    color: #000; }
  .header .btn-catalog .svg-icon {
    fill: #000;
    stroke: none; }
  .header .svg-icon {
    stroke: #000; }
  .header .documents-links-pdf {
    background: #F5F0ED;
    color: #000; }
    .header .documents-links-pdf .svg-icon {
      stroke: #000; }
  .header .format-document {
    color: #fff; }
  .header .documents-links-price {
    color: #000; }
    .header .documents-links-price .svg-icon {
      stroke: #000; }
  .header .btn-border {
    color: #000;
    border-color: #000; }
    .header .btn-border:hover, .header .btn-border:focus {
      border: 1px solid #000;
      color: #000;
      background: transparent; }
  .header .dropdown-toggle:hover, .header .dropdown-toggle:focus {
    border: 1px solid #000;
    color: #000;
    background: transparent; }
  .header .dropdown-toggle::after {
    background: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 7L15 1' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat center;
      background-size: 100%; }
  .header .show > .btn-secondary.dropdown-toggle {
    border: 1px solid #000;
    color: #000; }

.text-mobile {
  display: none; }

.btn-menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 16px;
  color: #fff; }
  .btn-menu__icon {
    fill: #fff;
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 0 12px 0 0; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 138px;
  width: 100%; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 32px; }
  .menu li {
    margin: 0 32px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li > a {
      color: #fff;
      padding: 8px 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .menu li .dropdown-item {
      padding: 0;
      margin: 0 0 20px; }
      .menu li .dropdown-item:last-child {
        margin: 0; }
  .menu .dropdown {
    display: none; }

.btn-catalog__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #fff;
  width: 24px;
  height: 24px;
  padding: 4px 2px;
  margin: 0 10px 0 0; }

.links-social {
  stroke: #fff;
  fill: none;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn-search {
  width: 56px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  stroke: #fff;
  border: 1px solid #E4E4E4;
    border-radius: 16px;
  padding: 14px 16px;
  fill: none;
  margin: 0 0 0 32px; }

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.documents-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto; }
  .documents-links .svg-icon {
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 10px 0 0;
    fill: none;
    stroke: #fff; }
  .documents-links a {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.documents-links-pdf {
  padding: 14px 12px;
  background: rgba(245, 240, 237, 0.2);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 16px;
  margin: 0 32px 0 0; }

.format-document {
  background: #DE6969;
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 10px;
  text-transform: uppercase; }

.contacts-item {
  position: relative;
  padding: 0 0 0 35px; }
  .contacts-item .svg-icon {
    fill: none;
    stroke: #000;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.phone {
  color: #000; }
  .phone:hover {
    color: #000; }

.schedule {
  color: #808080; }

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000; }
  .mail .svg-icon {
    width: 20px;
    height: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 15px 0 0; }
  .mail:hover {
    color: #000; }

/*==========  header end  ==========*/
/*==========  mobile  ==========*/
.fixed-mobile {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
  z-index: 3; }

.fixed-menu {
  width: 100%;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  background: #fff;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative; }
  .fixed-menu-btn {
    height: 60px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Proxima', sans-serif; }
    .fixed-menu-btn__icon {
      width: 24px;
      height: 24px;
      min-width: 24px;
      fill: #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 10px 0 0; }

.search-links {
  border-left: 1px solid #EBEEF4; }
  .search-links .fixed-menu-btn__icon {
    stroke: #000;
    fill: none; }

.phone-links {
  background: #F5F0ED;
  width: 59px;
  min-width: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .phone-links .fixed-menu-btn__icon {
    stroke: #000;
    fill: none;
    margin: 0; }

/*==========  mobile end  ==========*/
/*==========  dropdown catalog  ==========*/
.overlay {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .15;
  display: none; }

.dropdown-wrapper {
  position: absolute;
  left: 0;
  top: 100%;
  background: #fff;
  width: 100%;
  margin: -2px 0 0;
  z-index: 3;
  padding: 56px 0;
  border-bottom: 2px solid #000;
  display: none; }
  .dropdown-wrapper__close {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: -80px;
    width: 56px;
    height: 56px;
    background: #fff;
    border: 2px solid #000000;
      border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    padding: 16px; }

.catalog-col {
  width: 100%; }
  .catalog-col__title {
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    color: #000;
    min-height: 48px; }
    .catalog-col__title:hover {
      color: #C6916A; }
  .catalog-col__img {
    margin: 32px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #FBFAF9;
    border-radius: 16px;
    overflow: hidden;
    height: 135px;
    position: relative;
    width: 100%; }
    .catalog-col__img img {
      position: absolute;
      mix-blend-mode: multiply;
      bottom: 20px;
      right: -103px; }
  .catalog-col-menu {
    width: 100%; }
    .catalog-col-menu li {
      margin: 0 0 16px; }
      .catalog-col-menu li:last-child {
        margin: 0; }
      .catalog-col-menu li a {
        color: #000; }
        .catalog-col-menu li a:hover {
          color: #C6916A; }

.catalog-col2 .catalog-col__img img {
  bottom: -40px;
  right: -80px; }

.catalog-col3 .catalog-col__img img {
  bottom: -30px;
  right: -70px; }

.catalog-col4 .catalog-col__img img {
  bottom: 0;
  right: -50px; }

.dropdown-menu-list {
  width: 100%;
  display: none; }

.menu-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
  font-weight: 600; }
  .menu-list li {
    margin: 0 50px 0 0; }
    .menu-list li:last-child {
      margin: 0; }
    .menu-list li a {
      color: #000; }
      .menu-list li a:hover {
        color: #C6916A; }

.mobile-dropdown {
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  bottom: 100%;
  padding: 30px 0; }
  .mobile-dropdown__head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 25px 25px; }
  .mobile-dropdown__title {
    font-weight: 600; }
  .mobile-dropdown__body {
    height: 100%;
    overflow-y: auto;
    max-height: 500px; }

.mobile-dropdown-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #636262;
  width: 20px;
  height: 18px; }

.form-search {
  padding: 10px 26px 0; }
  .form-search input {
    text-align: center;
    height: 39px;
    color: #E0E0E0;
    font-size: 16px;
    font-weight: normal;
    padding: 0 0 15px;
    border-bottom: 1px solid #000000; }
    .form-search input::-webkit-input-placeholder {
      color: #E0E0E0; }
    .form-search input::-moz-placeholder {
      color: #E0E0E0; }
    .form-search input::-ms-input-placeholder {
      color: #E0E0E0; }
    .form-search input::placeholder {
      color: #E0E0E0; }
  .form-search button {
    margin: 40px auto 0;
    border: 1px solid #808080;
    height: 56px;
    color: #808080;
    font-size: 16px;
    font-weight: 600; }

.js-tab-content {
  display: none; }
  .js-tab-content.active {
    display: block; }
  .js-tab-content .documents-links {
    width: 100%;
    padding: 20px 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .js-tab-content .documents-links > a {
      color: #000; }
    .js-tab-content .documents-links .svg-icon {
      stroke: #000; }
    .js-tab-content .documents-links .format-document {
      color: #fff; }
  .js-tab-content .documents-links-pdf {
    height: 50px;
    background: #F5F0ED; }
  .js-tab-content .documents-links-price {
    background: #FBFAF9;
    padding: 8px 12px;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    height: 50px; }
  .js-tab-content .card-product {
    margin: 0 auto 15px;
    max-width: 328px;
    border: 2px solid #FBF9F8;
    background: transparent; }
    .js-tab-content .card-product .links-arrow {
      margin: 0; }
    .js-tab-content .card-product__body {
      width: calc(100% - 177px); }
    .js-tab-content .card-product__img {
      width: 177px; }

.mobile-menu-list {
  border-top: 1px solid #EDEDED; }
  .mobile-menu-list li {
    border-bottom: 1px solid #EDEDED; }
    .mobile-menu-list li a {
      padding: 20px 25px;
      color: #000;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .mobile-menu-list li .active:after {
      content: '';
      width: 24px;
      height: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 14L11 19L21 5' stroke='%23C6916A' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat center;
        background-size: 100%;
      margin: 0 auto 0 15px; }

.mobile-menu-list__links .svg-icon {
  width: 16px;
  height: 16px;
  stroke: #000;
  fill: none;
  margin: 0 0 0 auto; }

.all-type {
  color: #808080;
  font-size: 14px;
  line-height: 22px;
  margin: 15px 0; }

/*==========  dropdown catalog end  ==========*/
