/*==========  section home  ==========*/
.home {
  background: url("../img/bg1.png") no-repeat center;
    background-size: cover;
  padding: 278px 0 148px;
  color: #fff; }
  .home .box-text {
    margin: 48px 0 0;
    font-size: 24px;
    line-height: 40px;
    max-width: 615px;
    width: 100%; }

/*==========  section home end  ==========*/
/*==========  section advantages ==========*/
.advantages {
  padding: 98px 0; }

.advantages-box {
  font-size: 24px;
  line-height: 32px; }
  .advantages-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 24px;
    width: 24px;
    height: 24px; }

.section-decor-line {
  position: relative; }
  .section-decor-line:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: calc(100% - 30px);
    max-width: 1530px;
    height: 2px;
    background: #000; }

/*==========  section advantages end  ==========*/
/*==========  section  ==========*/
.productions h2 {
  margin: 0 auto 150px; }

.card-product {
  background: #FBFAF9;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1; }
  .card-product:before {
    content: '';
    position: absolute;
    width: 312px;
    height: 312px;
    border-radius: 50%;
    left: -100%;
    bottom: -100%;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    background: #EAD9CD;
    z-index: -1; }
  .card-product:hover:before {
    left: -112px;
    bottom: -112px; }
  .card-product__img {
    width: 100%;
    height: 271px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .card-product__img img {
      height: 100%;
      width: auto;
      max-width: none;
      mix-blend-mode: multiply; }
  .card-product__body {
    width: 100%;
    padding: 88px 32px 32px;
    height: calc(100% - 271px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .card-product__name {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    margin: 0 0 auto; }
    .card-product__name:hover {
      color: #000; }
  .card-product .links-arrow {
    margin: 32px 0 0; }

.links-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  stroke: #000;
  fill: none; }

/*==========  section end  ==========*/
/*==========  section popular  ==========*/
.popular {
  margin: 150px 0 90px; }

.sidebar {
  width: 100%;
  max-width: 290px; }

.popular-category {
  width: 100%;
  font-weight: 600; }
  .popular-category li {
    margin: 0 0 32px; }
    .popular-category li:last-child {
      margin: 0; }
    .popular-category li a {
      padding: 16px 32px;
      border-radius: 16px;
      color: #000; }
      .popular-category li a:hover {
        background: #FBFAF9;
        color: #000; }
    .popular-category li .active {
      background: #FBFAF9; }

.btn-link {
  margin: 32px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 32px;
  border-radius: 16px; }

.catalog-banner {
  background: #FBFAF9;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 33px 48px 412px 32px;
  z-index: 1; }
  .catalog-banner h4 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 16px;
    color: #000; }
  .catalog-banner__bg {
    position: absolute;
    width: 780px;
    height: 585px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: -125px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: -1; }

.links-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000; }
  .links-download .format-document {
    color: #fff;
    margin: 0 0 0 16px; }
  .links-download__icon {
    stroke: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 8px;
    width: 16px;
    height: 16px; }
  .links-download:hover {
    color: inherit; }

.product-card {
  width: 100%;
  height: 100%;
  padding: 16px 16px 24px;
  font-size: 14px;
  border: 2px solid transparent;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: relative; }
  .product-card__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 193px;
    width: 100%;
    padding: 30px; }
    .product-card__img img {
      max-height: 100%; }
  .product-card__body {
    width: 100%;
    padding: 16px 0 0; }
  .product-card__name {
    font-size: 16px;
    color: #000; }
    .product-card__name:hover {
      color: #EAD9CD; }
  .product-card .box-text {
    margin: 16px 0 0;
    color: #808080; }
  .product-card .links-arrow {
    margin: 16px 0 0; }
  .product-card:hover {
    border: 2px solid #FBFAF9; }
  .product-card__label {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 3px 10px;
    color: #000000;
    font-size: 12px;
    line-height: 24px;
    background: #FFF5EC;
    display: none; }

/*==========  section popular end  ==========*/
/*==========  section profitable-terms  ==========*/
.form-callback {
  margin: 40px 0 0; }
  .form-callback h3 {
    font-size: 32px; }

.profitable-terms {
  padding: 123px 0;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .profitable-terms:before {
    content: '';
    position: absolute;
    z-index: -1;
    right: -323px;
    bottom: -249px;
    width: 929px;
    height: 626px;
    background: url("../img/decor-bg1.svg") no-repeat center;
      background-size: 100%; }

.profitable-terms-box {
  position: relative;
  font-size: 24px;
  line-height: 32px;
  padding: 0 0 0 40px; }
  .profitable-terms-box:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 8px;
    width: 14px;
    height: 14px;
    background: #C6916A; }

.box-input {
  position: relative; }

.input-text {
  position: absolute;
  left: 0;
  bottom: 15px;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.box-input input:focus ~ .input-text,
.box-input input:valid ~ .input-text {
  bottom: auto;
  top: 0;
  font-size: 14px;
  font-weight: 600; }

/*==========  section profitable-terms end  ==========*/
/*==========  section production ==========*/
.production {
  margin: 207px 0 150px; }
  .production .box-text {
    font-size: 32px;
    line-height: 56px;
    margin: 121px 0; }

.production-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.square {
  margin: auto 0 0; }
  .square span {
    display: block;
    margin: 10px 0 0; }
  .square p {
    font-size: 32px;
    font-weight: 600; }
    .square p strong {
      font-size: 72px;
      line-height: 56px;
      font-weight: 600; }
    .square p sup {
      font-family: "Montserrat", sans-serif;
      font-size: 56px; }

.production-slider__item {
  height: 1058px;
  min-width: 872px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .production-slider__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.production-slider {
  min-width: 872px;
  height: 100%; }
  .production-slider .slick-list {
    height: 100%; }
  .production-slider .slick-track {
    height: 100%; }

.production-wrapper {
  margin: 0 0 0 65px; }
  .production-wrapper .slider-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 30px; }

/*==========  section production end  ==========*/
/*==========  section workshops ==========*/
.workshops-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 33px; }
  .workshops-content h2 {
    margin: 0 0 72px;
    font-size: 252px;
    font-weight: 600;
    line-height: 192px; }
  .workshops-content h3 {
    font-size: 72px;
    line-height: 76px; }

.workshops-img {
  min-width: 848px;
  height: 903px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 90px 0 0;
  float: right; }
  .workshops-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

/*==========  section workshops end  ==========*/
/*==========  section  ==========*/
.production-composition-box h3 {
  font-size: 32px;
  line-height: 40px;
  margin: 32px 0 32px; }

.production-composition-box .box-text {
  line-height: 32px; }

.production-composition-box__icon {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*==========  section end  ==========*/
/*==========  section specialists  ==========*/
.specialists {
  padding: 0 0 150px; }
  .specialists .box-text {
    margin: auto 0 0;
    font-size: 32px;
    font-weight: 600; }

.specialists-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 135px 0 0; }
  .specialists-content h2 span {
    display: block;
    margin: 0 0 72px;
    line-height: 192px;
    font-size: 252px; }

.specialists-img {
  min-width: 1073px;
  height: 1020px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  margin: 0 0 0 -70px; }
  .specialists-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0); }

/*==========  section specialists end  ==========*/
/*==========  section ages  ==========*/
.ages-images {
  max-width: 100%; }
  .ages-images img {
    width: 100%; }

.logo-slogan {
  font-family: 'SegoeScript', sans-serif;
  -webkit-transform: rotate(-3.85deg);
          transform: rotate(-3.85deg);
  font-size: 63px;
  line-height: 59px;
  max-width: 360px;
  margin: -35px 30px 80px auto; }

.logo-img {
  margin: 0 0 0 30px;
  max-width: 453px; }
  .logo-img img {
    -webkit-filter: invert(1);
            filter: invert(1); }

.ages-img {
  width: 100%;
  height: 472px; }
  .ages-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.ages-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .ages-content .box-text {
    margin: 80px 0;
    font-size: 32px;
    line-height: 56px; }
  .ages-content span {
    font-size: 24px; }
  .ages-content h2 {
    margin: 0 0 32px; }
  .ages-content .btn span {
    font-size: 16px; }

/*==========  section ages end  ==========*/
/*==========  section sales ==========*/
.sale-card {
  width: 100%;
  margin: 0 0 60px; }
  .sale-card__img {
    width: 100%;
    height: 286px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .sale-card__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .sale-card__body {
    width: 100%;
    padding: 24px 0 0; }
  .sale-card__date {
    color: #808080;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 8px; }
  .sale-card__title {
    color: #000;
    font-size: 24px;
    font-weight: 600; }
    .sale-card__title:hover {
      color: #C6916A; }
  .sale-card .box-text {
    font-size: 16px;
    margin: 8px 0 0;
    line-height: 32px; }

.sales-slider {
  margin: 0 -30px; }
  .sales-slider .slide {
    padding: 0 30px; }

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000; }
  .links:hover {
    color: #C6916A; }
    .links:hover .links-icon {
      stroke: #C6916A; }
  .links .links-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 16px;
    stroke: #000;
    width: 18px;
    height: 22px;
    min-width: 18px;
    -webkit-transition: .3s ease;
    transition: .3s ease; }

.btn-text-mobile {
  display: none; }

/*==========  section sales end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
