@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "SegoeScript";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/SegoeScript/SegoeScript.eot");
  src: url("../fonts/SegoeScript/SegoeScript.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeScript/SegoeScript.woff") format("woff"), url("../fonts/SegoeScript/SegoeScript.ttf") format("truetype"); }

@font-face {
  font-family: "Proxima";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Proxima/ProximaNova-Regular.eot");
  src: url("../fonts/Proxima/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima/ProximaNova-Regular.woff") format("woff"), url("../fonts/Proxima/ProximaNova-Regular.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  background: white;
  color: #000; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 35px 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  border: none;
    border-radius: 0;
    border-bottom: 2px solid #000000;
  width: 100%;
  height: 87px;
  font-size: 24px;
  line-height: 145.4%;
  color: #000000;
  background: transparent; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #000000; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #000000; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #000000; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #000000; }
  input:hover, textarea:hover, select:hover {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

label {
  display: block;
  width: 100%; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0;
  line-height: normal; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 52px; }

.btn-border {
  border: 1px solid #fff;
    border-radius: 16px;
  color: #fff;
  background: transparent;
  padding: 0 45px; }
  .btn-border:hover, .btn-border:focus {
    background: transparent;
    color: #fff;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #fff; }

.btn-border-black {
  border: 1px solid #000;
    border-radius: 16px;
  color: #000;
  padding: 0 24px; }
  .btn-border-black:hover {
    color: #000;
    border: 1px solid #000; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  border-color: #fff;
  color: #fff; }

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

.dropdown-toggle::after {
  width: 14px;
  height: 6px;
  border: none;
  background: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 7L15 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat center;
    background-size: 100%;
  margin: 0 0 0 11px; }

.dropdown-menu {
  width: 100%;
  margin: 15px 0 0;
  border: 1px solid #000000;
    border-radius: 16px;
  background: #fff;
  -webkit-box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.1);
  padding: 30px; }

.btn-black {
  color: #fff;
  border-radius: 16px;
  padding: 0 32px;
  background: #000;
  height: 56px;
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .btn-black:hover {
    background: #EAD9CD;
    color: #000;
    text-decoration: none; }
  .btn-black .btn-arrow {
    margin: 0 0 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 24px;
    min-width: 24px;
    height: 24px;
    stroke: #fff; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

h2, h1 {
  width: 100%;
  font-size: 64px;
  font-weight: bold; }

.container {
  max-width: 1560px; }

h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 76px; }
  h1 span {
    display: block;
    margin: 0 0 24px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.05em; }

h2 {
  width: 100%;
  font-size: 72px;
  font-weight: 600;
  line-height: 76px; }

h3 {
  font-size: 48px;
  font-weight: 600;
  width: 100%;
  color: #000000; }

.p-150 {
  padding: 150px 0; }

.m-150 {
  margin: 150px 0; }

.mb-100 {
  margin-bottom: 100px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-48 {
  margin-bottom: 48px; }

.mb-30 {
  margin-bottom: 30px; }

strong, b {
  display: inline-block;
  font-weight: bold; }

.ul-my {
  list-style: none; }

.bg-grey {
  background: #F5F0ED; }

.text-decoration {
  text-decoration: underline; }

.links-grey {
  color: #808080; }
  .links-grey:hover {
    color: #fff; }

.slick-slider {
  width: 100%; }

.slick-slide {
  outline: none; }

.slider-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit; }

.slider-arrows {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.slick-arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding: 0;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
  background: #fff;
  fill: none;
  stroke: #000;
  border: none;
    border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .slick-arrow:hover, .slick-arrow:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    stroke: #808080; }
  .slick-arrow .svg-icon {
    width: 9px;
    height: 12px; }

.slick-prev {
  border-radius: 100px 0 0 100px; }

.slick-next {
  border-radius: 0 100px 100px 0; }

.slider {
  position: relative;
  width: 100%; }

.counter-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
  border-radius: 30px;
  background: #fff;
  font-size: 16px; }
  .counter-slide__cp {
    margin: 0 3px 0 0; }
  .counter-slide__default {
    color: #808080; }

.breadcrumb-nav {
  width: 100%;
  margin: 48px 0; }

.breadcrumb {
  background: transparent;
  padding: 0;
  border: none;
    border-radius: 0;
  margin: 0;
  letter-spacing: 0.05em;
  font-size: 16px;
  color: #B3B3B3; }

.breadcrumb-item + .breadcrumb-item {
  padding: 0;
  color: #B3B3B3; }
  .breadcrumb-item + .breadcrumb-item:before {
    display: none; }

.breadcrumb-item a {
  color: #B3B3B3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .breadcrumb-item a:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 10px;
    background: url("../img/line.svg") no-repeat center;
      background-size: 100%;
    margin: 0 16px; }

.breadcrumb-item:hover {
  color: #C6916A; }
