/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px) {
  .menu li {
    margin: 0 16px 0 0; }
  .btn-search {
    margin: 0 0 0 16px; } }

@media only screen and (max-width: 1580px) {
  .container {
    max-width: 1392px; }
  header {
    padding: 23px 0 34px; }
    header .container {
      max-width: 1510px; }
  .btn-border {
    padding: 0 24px; }
  .home {
    padding: 240px 0 110px; }
  .section-decor-line:before {
    max-width: 1362px; }
  .profitable-terms:before {
    right: -220px; }
  .production-slider__item {
    min-width: 826px;
    height: 1106px; }
  .workshops-img {
    min-width: 661px;
    margin: 0 113px 0 0; }
  .specialists-img {
    min-width: 955px;
    margin: 0 0 0 32px; }
  .ages-content {
    padding: 0 0 0 58px; }
  .sales {
    padding: 150px 0 100px; }
  .news {
    padding: 100px 0 150px; }
  .menu {
    margin: 0 16px; }
  .documents-links-pdf {
    margin: 0 16px 0 0; }
  .dropdown-menu-contacts {
    min-width: 255px;
    left: auto !important;
    right: 0 !important; }
  .specialists-content {
    padding: 122px 0 0; }
  .logo-img {
    max-width: 402px;
    margin: 0 0 0 26px; }
  .logo-slogan {
    font-size: 56px;
    line-height: 52px;
    max-width: 320px;
    margin: -25px 26px 70px auto; }
  .ages-img {
    height: 417px; } }

@media only screen and (max-width: 1430px) {
  .menu {
    margin: 0 auto 0 16px; }
    .menu .nav-item {
      display: none; }
    .menu .dropdown {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .documents-links {
    margin: 0 36.5px; } }

@media only screen and (max-width: 1350px) {
  h1 {
    font-size: 60px;
    line-height: 72px; }
  h2 {
    font-size: 60px;
    line-height: 72px; }
  .container {
    max-width: 1200px; }
  .home {
    padding: 248px 0 118px; }
  header .container {
    max-width: 1280px; }
  .p-150 {
    padding: 94px 0; }
  .section-decor-line:before {
    max-width: 1170px; }
  .advantages-box {
    font-size: 20px; }
  .card-product__body {
    padding: 56px 32px 32px; }
  .card-product__name {
    font-size: 20px; }
  .btn-link {
    margin: 16px 0 32px; }
  .catalog-banner {
    padding: 33px 29px 412px 32px; }
  .profitable-terms-box {
    font-size: 20px; }
  .profitable-terms {
    padding: 100px 0; }
  .profitable-terms:before {
    right: -260px; }
  .production-slider__item {
    min-width: 975px;
    height: 985px; }
  .production {
    margin: 150px 0 128px; }
    .production .box-text {
      margin: 100px 0;
      font-size: 28px;
      line-height: 48px; }
  .workshops {
    margin: 0;
    padding: 150px 0 0; }
  .workshops-img {
    min-width: 607px;
    margin: 0 55px 0 0; }
    .workshops-img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .workshops-content h3 {
    font-size: 60px; }
  .workshops-content h2 {
    font-size: 200px; }
  .production-composition .btn {
    white-space: nowrap; }
  .production-composition-box h3 {
    font-size: 28px; }
  .specialists-img {
    min-width: 842px; }
  .specialists-content h2 span {
    font-size: 200px; }
  .specialists-content .box-text {
    font-size: 28px; }
  .logo-img {
    margin: 0 0 0 22px;
    max-width: 342px; }
  .logo-slogan {
    font-size: 47px;
    max-width: 271px;
    margin: -15px 22px 60px auto; }
  .ages-img {
    height: 356px; }
  .ages-content .box-text {
    font-size: 28px;
    line-height: 48px; }
  .ages-content h2 {
    margin: 0 0 24px; }
  .sales {
    padding: 150px 0 100px; }
  .news {
    padding: 100px 0 150px; }
  footer {
    padding: 110px 0; }
  .description-company {
    max-width: 270px; }
  .copyright-box {
    max-width: 270px; }
  .footer-menu {
    margin: 0; }
  .col-menu {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    max-width: none;
    margin-bottom: 30px; }
    .col-menu:first-child {
      margin-bottom: 16px; }
  .developer-web {
    margin: 49px 0 0 auto; } }

@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
