/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px) {
  .menu li {
    margin: 0 16px 0 0; }
  .btn-search {
    margin: 0 0 0 16px; }
  .profitable-terms:before {
    right: -559px;
    bottom: -149px; } }

@media only screen and (max-width: 1580px) {
  .container {
    max-width: 1392px; }
  header {
    padding: 23px 0 34px; }
    header .container {
      max-width: 1510px; }
  .btn-border {
    padding: 0 24px; }
  .home {
    padding: 240px 0 110px; }
  .section-decor-line:before {
    max-width: 1362px; }
  .production-slider__item {
    min-width: 826px;
    height: 1106px; }
  .workshops-img {
    min-width: 661px;
    margin: 0 113px 0 0; }
  .specialists-img {
    min-width: 955px;
    margin: 0 0 0 32px; }
  .ages-content {
    padding: 0 0 0 58px; }
  .sales {
    padding: 150px 0 100px; }
  .news {
    padding: 100px 0 150px; }
  .menu {
    margin: 0 16px; }
  .documents-links-pdf {
    margin: 0 16px 0 0; }
  .dropdown-menu-contacts {
    min-width: 255px;
    left: auto !important;
    right: 0 !important; }
  .specialists-content {
    padding: 122px 0 0; }
  .logo-img {
    max-width: 402px;
    margin: 0 0 0 26px; }
  .logo-slogan {
    font-size: 56px;
    line-height: 52px;
    max-width: 320px;
    margin: -25px 26px 70px auto; }
  .ages-img {
    height: 417px; }
  .sales-slider {
    margin: 0 -15px; }
    .sales-slider .slide {
      padding: 0 15px; }
  .page {
    padding: 110px 0 130px; } }

@media only screen and (max-width: 1430px) {
  .menu {
    margin: 0 auto 0 16px; }
    .menu .nav-item {
      display: none; }
    .menu .dropdown {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .documents-links {
    margin: 0 36.5px; } }

@media only screen and (max-width: 1350px) {
  h1 {
    font-size: 60px;
    line-height: 72px; }
  h2 {
    font-size: 60px;
    line-height: 72px; }
  h3 {
    font-size: 28px; }
  .container {
    max-width: 1200px; }
  .home {
    padding: 248px 0 118px; }
  header .container {
    max-width: 1280px; }
  .p-150 {
    padding: 94px 0; }
  .section-decor-line:before {
    max-width: 1170px; }
  .advantages-box {
    font-size: 20px; }
  .card-product__body {
    padding: 56px 32px 32px; }
  .card-product__name {
    font-size: 20px; }
  .btn-link {
    margin: 16px 0 32px; }
  .catalog-banner {
    padding: 33px 29px 412px 32px; }
  .profitable-terms-box {
    font-size: 20px; }
  .profitable-terms {
    padding: 100px 0; }
    .profitable-terms:before {
      right: -600px;
      bottom: -255px; }
  .production-slider__item {
    min-width: 975px;
    height: 985px; }
  .production {
    margin: 150px 0 128px; }
    .production .box-text {
      margin: 100px 0;
      font-size: 28px;
      line-height: 48px; }
  .workshops {
    margin: 0;
    padding: 150px 0 0; }
  .workshops-img {
    min-width: 607px;
    margin: 0 55px 0 0; }
    .workshops-img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .workshops-content h3 {
    font-size: 60px; }
  .workshops-content h2 {
    font-size: 200px; }
  .production-composition .btn {
    white-space: nowrap; }
  .production-composition-box h3 {
    font-size: 28px; }
  .specialists-img {
    min-width: 842px; }
  .specialists-content h2 span {
    font-size: 200px; }
  .specialists-content .box-text {
    font-size: 28px; }
  .logo-img {
    margin: 0 0 0 22px;
    max-width: 342px; }
  .logo-slogan {
    font-size: 47px;
    max-width: 271px;
    margin: -15px 22px 60px auto; }
  .ages-img {
    height: 356px; }
  .ages-content .box-text {
    font-size: 28px;
    line-height: 48px; }
  .ages-content h2 {
    margin: 0 0 24px; }
  .sales {
    padding: 150px 0 100px; }
  .news {
    padding: 100px 0 150px; }
  footer {
    padding: 110px 0; }
  .description-company {
    max-width: 270px; }
  .copyright-box {
    max-width: 270px; }
  .footer-menu {
    margin: 0; }
  .col-menu {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    max-width: none;
    margin-bottom: 30px; }
    .col-menu:first-child {
      margin-bottom: 16px; }
  .developer-web {
    margin: 49px 0 0 auto; } }

@media only screen and (max-width: 1200px) {
  header .menu {
    display: none; }
  header.fixed .btn-menu {
    color: #000; }
    header.fixed .btn-menu__icon {
      fill: #000; }
  .btn-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 16px; }
  .documents-links {
    margin: 0 auto; }
  .mb-15 {
    margin-bottom: 15px; }
  .card-product {
    position: relative; }
    .card-product__name br {
      display: none; }
    .card-product__img {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      position: absolute; }
    .card-product__body {
      padding: 177px 32px 32px 32px; }
  .card-product1 .card-product__img {
    top: -125px;
    right: -8px; }
  .card-product2 .card-product__img {
    top: -80px;
    right: -8px; }
  .card-product3 .card-product__img {
    top: -78px;
    right: 0; }
  .card-product4 .card-product__img {
    top: -130px;
    right: 0; }
  .popular {
    margin: 100px 0; }
    .popular h3 {
      font-size: 48px; }
  .catalog-banner {
    width: 100%;
    margin: 0 0 30px;
    padding: 40px 40px 32px;
    background: #FBFAF9; }
    .catalog-banner__content {
      max-width: 210px; }
    .catalog-banner h4 {
      margin: 0 0 24px; }
  .catalog-banner__bg {
    left: auto;
    right: -85px;
    -webkit-transform: none;
            transform: none;
    top: -130px;
    bottom: auto;
    background: -webkit-gradient(linear, left top, right top, from(#FBFAF9), color-stop(16.69%, rgba(251, 250, 249, 0)));
    background: linear-gradient(90deg, #FBFAF9 0%, rgba(251, 250, 249, 0) 16.69%); }
  .popular-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .popular-category li {
      margin: 0 10px 0 0;
      width: 256px;
      min-width: 256px; }
  .sidebar {
    max-width: none;
    overflow-y: auto;
    width: calc(100% + 80px);
    margin: 0 0 30px; }
  .popular .mb-60 {
    margin-bottom: 30px; }
  .btn-link {
    margin: 0 auto; }
  .profitable-terms:before {
    right: -615px;
    bottom: -126px; }
  .profitable-terms .mb-60 {
    margin-bottom: 40px; }
  .profitable-terms-box {
    font-size: 16px;
    line-height: 24px; }
  h3 {
    font-size: 20px; }
  .form-callback {
    max-width: 528px; }
    .form-callback .mb-60 {
      margin-bottom: 60px; }
    .form-callback .mb-40 {
      margin-bottom: 30px; }
    .form-callback button {
      margin: 10px 0 0; }
  .production-slider__item {
    min-width: 690px;
    height: 507px; }
  .production {
    margin: 100px 0 150px; }
    .production h2 {
      margin: 0 0 71px; }
      .production h2 br {
        display: none; }
    .production .box-text {
      margin: 0 0 auto;
      font-size: 20px;
      line-height: 32px; }
  .square p {
    font-size: 16px; }
    .square p sup {
      font-size: 50px; }
  .square strong {
    font-size: 40px;
    line-height: 56px; }
  .production-wrapper {
    margin: 0; }
  .workshops {
    padding: 0; }
  .workshops-img {
    min-width: 455px;
    margin: 0;
    height: 715px; }
  .workshops-content {
    padding: 0 0 0 25px; }
    .workshops-content h2 {
      margin: 0 0 56px;
      font-size: 100px;
      line-height: 100%; }
    .workshops-content h3 {
      font-size: 48px;
      line-height: 56px; }
  .production-composition {
    margin: 100px 0 120px; }
  .production-composition-box {
    margin: 0 0 30px; }
    .production-composition-box h3 {
      font-size: 20px;
      line-height: 28px; }
  .specialists-content {
    padding: 0;
    margin: 0 0 72px; }
    .specialists-content h2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .specialists-content h2 span {
        display: inline-block;
        margin: 0 72px 0 0;
        font-size: 100px;
        line-height: 100px; }
  .specialists-img {
    margin: 0 0 72px;
    min-width: auto;
    width: 100%;
    height: auto; }
  .specialists {
    padding: 0 0 100px; }
    .specialists .box-text {
      font-size: 20px;
      max-width: 670px; }
  .ages-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .ages-img {
    width: 50%;
    height: 356px; }
  .ages-content {
    padding: 0;
    margin: 40px 0 0; }
    .ages-content .box-text {
      margin: 50px 0;
      font-size: 20px;
      line-height: 32px; }
  .logo-wrapper {
    width: 50%; }
  .logo-img {
    margin: 0;
    max-width: 250px; }
  .logo-slogan {
    font-size: 34px;
    line-height: 32px;
    margin: -20px 0 0 106px; }
  .p-150 {
    padding: 100px 0; }
  .sale-card__title {
    font-size: 20px;
    line-height: 28px; }
  .sale-card__date {
    margin: 0 0 16px; }
  .sale-card__img {
    height: 196px; }
  .sales {
    padding: 100px 0; }
  .copyright-box {
    max-width: none;
    margin: 0; }
  footer {
    padding: 100px 0; }
    footer .btn-group {
      margin: 0 0 40px; }
  .developer-web {
    margin: 0 0 0 auto; }
  .description-company {
    max-width: 391px; }
  .col-menu {
    margin-top: 40px; }
    .col-menu:first-child {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 58.333333%;
              flex: 0 0 58.333333%;
      max-width: 58.333333%; }
    .col-menu:last-child {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 41.666667%;
              flex: 0 0 41.666667%;
      max-width: 41.666667%; }
  .text-pc {
    display: none; }
  .text-mobile {
    display: block; }
  .dropdown-wrapper {
    padding: 50px 0; }
  .catalog-col-menu li {
    margin: 0 0 10px; }
  .dropdown-menu-list {
    display: block; }
  .dropdown-catalog {
    display: none; }
  .catalog-card .card-product__name {
    font-size: 28px; }
  .catalog-card.card-product1 .card-product__img {
    width: 405px;
    height: 300px;
    top: -72px;
    right: -191px; }
  .catalog-card.card-product3 .card-product__img {
    width: 472px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1010px) {
  header .container {
    max-width: 938px; }
  .container {
    max-width: 837px; }
  .section-decor-line:before {
    max-width: 807px; }
  h1, h2 {
    font-size: 48px;
    line-height: 56px; }
  .home {
    padding: 271px 0 148px; }
  .p-150 {
    padding: 65px 0; }
  .m-150 {
    margin: 100px 0; }
  .advantages-box {
    font-size: 16px;
    line-height: 24px; }
  .productions h2 {
    margin: 0 auto 100px; }
  .sales {
    padding: 100px 0; }
    .sales .box-text {
      line-height: 24px;
      margin: 16px 0 0; }
  .catalog-card .card-product__name {
    font-size: 20px; }
  .page h1 {
    margin-bottom: 50px; }
  .catalog-card .all-type {
    margin: 24px 0 20px; }
  .breadcrumb-nav {
    margin: 20px 0; }
  .catalog-card.card-product1 .card-product__img {
    top: -54px;
    right: -216px; }
  .catalog-card.card-product2 .card-product__img {
    width: 400px;
    height: 300px; }
  .catalog-card.card-product3 .card-product__img {
    width: 370px; }
  .catalog-card.card-product4 .card-product__img {
    width: 200px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 850px) {
  .documents-links {
    display: none; }
  header .dropdown {
    margin: 0 0 0 auto; }
  .catalog-col__img img {
    right: -10px; }
  .catalog-col3 .catalog-col__img img {
    right: 0; }
  .catalog-col2 .catalog-col__img img {
    right: 0; }
  .catalog-col4 .catalog-col__img img {
    right: 0; } }

@media only screen and (max-width: 768px) {
  .container {
    max-width: 672px; }
  header .container {
    max-width: 700px; }
  .home {
    padding: 243px 0 120px; }
  .catalog-banner__bg {
    width: 656px;
    height: 492px;
    right: -250px;
    top: -130px; }
  .form-callback {
    max-width: 421px; }
    .form-callback h3 {
      font-size: 20px; }
  .profitable-terms:before {
    right: -690px;
    bottom: -57px; }
  .production-slider__item {
    height: 405px;
    min-width: auto;
    width: 100%; }
  .production-slider {
    min-width: auto; }
  .production .box-text {
    margin: 50px 0; }
  .production h2 {
    margin: 0; }
  .square p strong {
    font-size: 40px;
    line-height: 56px; }
  .square p sup {
    font-size: 30px; }
  .production-wrapper {
    margin: 50px 0 0; }
  .workshops {
    margin: 0; }
  .workshops-img {
    margin: 60px 0 0;
    min-width: auto;
    width: 100%;
    height: 410px; }
  .workshops-content {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .workshops-content h2 {
      margin: 0;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    .workshops-content h3 {
      width: calc(100% - 114px); }
  .production-composition {
    margin: 100px 0 56px; }
  .specialists-content {
    margin: 0 0 50px; }
    .specialists-content h2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .specialists-content h2 span {
        margin: 0 0 30px; }
  .specialists-img {
    margin: 0 0 50px; }
  .section-decor-line:before {
    max-width: 642px; }
  .ages {
    padding: 100px 0; }
  .ages-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .logo-wrapper {
    width: 100%; }
  .ages-img {
    width: 100%;
    height: 282px;
    margin: 60px 0 0; }
  .sale-card__img {
    height: 167px; }
  footer .btn-group {
    margin: 0 0 80px; }
  .dropdown-wrapper {
    height: 100%;
    top: 0;
    max-width: 425px;
    width: 100%;
    position: fixed;
    padding: 60px;
    border: none;
      border-right: 2px solid #000; }
    .dropdown-wrapper .container {
      height: 100%;
      overflow-y: auto; }
    .dropdown-wrapper__close {
      top: 72px;
      -webkit-transform: none;
              transform: none;
      left: calc(100% + 22px); }
    .dropdown-wrapper__title {
      color: #000;
      margin: 0 0 39px;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px; }
    .dropdown-wrapper .documents-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin: 39px 0 0; }
    .dropdown-wrapper .documents-links-pdf {
      color: #000;
      margin: 0 0 39px;
      background: #F5F0ED; }
      .dropdown-wrapper .documents-links-pdf .svg-icon {
        stroke: #000; }
    .dropdown-wrapper .format-document {
      color: #fff; }
    .dropdown-wrapper .documents-links-price {
      color: #000; }
      .dropdown-wrapper .documents-links-price .svg-icon {
        stroke: #000; }
  .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .menu-list li {
      margin: 0 0 39px; }
  .catalog-col {
    margin: 0 0 30px; }
  .catalog-card {
    padding: 271px 32px 32px 32px; }
    .catalog-card .card-product__img {
      width: 100%;
      height: 271px; }
    .catalog-card .card-product__body {
      width: 100%; }
  .catalog-card.card-product1 .card-product__img {
    left: 68px;
    top: -100px; }
  .catalog-card.card-product2 .card-product__img {
    left: -20px;
    top: -50px; }
  .catalog-card.card-product3 .card-product__img {
    left: 70%;
    top: -80px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .catalog-card.card-product4 .card-product__img {
    left: 102px;
    height: 537px;
    width: 215px; }
  .mb-30 {
    margin-bottom: 15px; }
  .page {
    padding: 110px 0 115px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .p-150 {
    padding: 50px 0; }
  .mb-100 {
    margin-bottom: 50px; }
  h1, h2 {
    font-size: 28px;
    line-height: 36px; }
  h1 span {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 24px; }
  header {
    padding: 22px 0; }
    header .dropdown {
      display: none; }
  .header-links {
    margin: 0 0 0 auto; }
  .popular .mb-80 {
    margin-bottom: 30px; }
  .popular h3 {
    font-size: 28px;
    max-width: 180px; }
  .footer-col {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    margin: 50px 0; }
  .phone-mobile {
    line-height: 36px;
    font-size: 28px;
    margin: 0 0 10px; }
  footer {
    padding: 50px 0; }
    footer .mail {
      margin: 20px 0 10px;
      font-size: 28px;
      line-height: 36px; }
    footer .btn-group {
      margin: 0 0 50px; }
    footer .logo {
      max-width: 125px; }
  .developer-web {
    margin: 50px 0 0; }
  .description-company {
    margin: 20px 0;
    max-width: 328px;
    font-size: 14px;
    line-height: 22px; }
  .mb-60 {
    margin-bottom: 30px; }
  .sales {
    padding: 50px 0; }
  .sale-card__img {
    height: 154px; }
  .sale-card__title {
    font-size: 16px;
    line-height: 24px; }
  .sales .box-text {
    font-size: 14px;
    line-height: 22px; }
  .sale-card {
    margin: 0 0 30px; }
  .slider-mobile {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0; }
  .sales-slider {
    width: calc(100% + 15px); }
    .sales-slider .slide {
      width: 193px;
      padding: 0;
      margin: 0 30px 0 0; }
  .ages {
    padding: 50px 0; }
  .ages-content .box-text {
    margin: 30px 0;
    line-height: 24px;
    font-size: 16px; }
  .ages-content span {
    font-size: 16px; }
  .ages-img {
    height: 215px;
    margin: 40px 0 0; }
  .specialists {
    padding: 0 0 50px; }
    .specialists .box-text {
      font-size: 16px;
      line-height: 24px; }
  .specialists-img {
    margin: 0 0 30px; }
  .specialists-content {
    margin: 0 0 30px; }
    .specialists-content h2 span {
      font-size: 72px;
      margin: 0 0 15px;
      line-height: 100%; }
  .production-composition {
    margin: 30px 0 20px; }
  .production-composition-box {
    font-size: 14px; }
    .production-composition-box .box-text {
      line-height: 22px; }
    .production-composition-box h3 {
      margin: 15px 0;
      font-size: 16px; }
  .workshops-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .workshops-content h2 {
      margin: 0 0 15px;
      font-size: 72px;
      line-height: 100%; }
    .workshops-content h3 {
      width: 100%;
      font-size: 28px;
      line-height: 36px; }
  .production {
    margin: 50px 0 73px; }
    .production .box-text {
      margin: 30px 0;
      font-size: 16px;
      line-height: 24px; }
  .production-wrapper {
    margin: 30px 0 0; }
  .square span {
    margin: 0;
    font-size: 14px; }
  .profitable-terms {
    padding: 50px 0; }
    .profitable-terms:before {
      display: none; }
    .profitable-terms .mb-60 {
      margin-bottom: 20px; }
  .profitable-terms-box {
    font-size: 14px;
    line-height: 22px; }
  .form-callback {
    max-width: none; }
    .form-callback h3 {
      font-size: 16px;
      margin: 0 0 10px;
      line-height: 24px; }
    .form-callback .mb-60 {
      margin-bottom: 20px; }
    .form-callback button {
      margin: 20px 0 0;
      width: 100%; }
    .form-callback .btn-text-mobile {
      display: block; }
    .form-callback .btn-text {
      display: none; }
  .product-card {
    font-size: 12px;
    padding: 0; }
    .product-card__img {
      height: 150px; }
    .product-card__name {
      font-size: 14px; }
    .product-card__label {
      display: block; }
    .product-card .box-text {
      margin: 10px 0 0; }
  .catalog-banner__bg {
    width: 406px;
    height: 306px;
    right: -176px;
    top: -89px; }
  .catalog-banner {
    padding: 20px; }
    .catalog-banner h4 {
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 20px; }
    .catalog-banner .links-download {
      font-size: 12px; }
    .catalog-banner .format-document {
      margin: 0 0 0 10px; }
    .catalog-banner__content {
      max-width: 140px; }
  .popular-category {
    font-size: 14px; }
    .popular-category li {
      width: 147px;
      min-width: 147px; }
      .popular-category li a {
        padding: 15px 25px; }
  .sidebar {
    width: calc(100% + 30px); }
  .productions {
    margin: 30px 0; }
    .productions h2 {
      margin: 0 auto 30px; }
  .card-product {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .card-product__img {
      left: auto;
      right: 0;
      top: 0;
      width: 212px;
      height: 100%; }
      .card-product__img img {
        height: auto;
        width: auto;
        max-width: 100%; }
    .card-product__body {
      padding: 20px;
      width: calc(100% - 212px); }
    .card-product__name {
      font-size: 16px;
      line-height: 24px; }
    .card-product .links-arrow {
      margin: 20px 0 0; }
  .card-product1 .card-product__img {
    width: 157px;
    height: 187px;
    right: -41px;
    top: -59px; }
  .card-product2 .card-product__img {
    width: 179px;
    height: 100%;
    top: 0;
    right: 0; }
  .card-product3 .card-product__img {
    width: 272px;
    height: 100%;
    top: -20px;
    right: -100px; }
  .card-product4 .card-product__img {
    top: 0; }
  .advantages {
    padding: 30px 0 10px; }
  .advantages-box {
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 22px; }
  .home {
    padding: 112px 0 30px; }
    .home .box-text {
      font-size: 14px;
      line-height: 22px;
      margin: 30px 0 0;
      max-width: 328px; }
  .page {
    padding: 96px 0 35px; }
    .page h1 {
      margin-bottom: 30px; }
  .breadcrumb {
    margin: 50px 0 20px; }
  .catalog-card {
    padding: 0; }
    .catalog-card .card-product__body {
      width: 50%;
      padding: 20px; }
    .catalog-card .card-product__name {
      font-size: 16px;
      max-width: 150px; }
    .catalog-card .all-type {
      margin: 15px 0;
      font-size: 14px; }
    .catalog-card .links-arrow {
      margin: 0; }
  .catalog-card.card-product1 .card-product__img {
    width: 257px;
    height: 187px;
    bottom: 40px;
    right: -77px;
    left: auto;
    top: auto; }
  .catalog-card.card-product2 .card-product__img {
    top: -40px;
    left: auto;
    right: -45px;
    width: 248px;
    height: 207px; }
  .catalog-card.card-product3 .card-product__img {
    width: 272px;
    height: 249px;
    left: auto;
    -webkit-transform: none;
            transform: none;
    right: -80px; }
  .catalog-card.card-product4 .card-product__img {
    right: -19px;
    left: auto;
    width: 180px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 480px) {
  .logo {
    max-width: 95px; }
  header .btn-menu, header .btn-search {
    display: none; }
  header .links-social {
    width: 26px;
    height: 26px;
    min-width: 26px; }
  .fixed-mobile {
    display: block; }
  .overlay {
    opacity: .1; } }
