/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px) {
  .menu li {
    margin: 0 16px 0 0; }
  .btn-search {
    margin: 0 0 0 16px; } }

@media only screen and (max-width: 1580px) {
  .container {
    max-width: 1392px; }
  header {
    padding: 23px 0 35px; }
  .btn-border {
    padding: 0 24px; }
  .home {
    padding: 240px 0 110px; }
  .section-decor-line:before {
    max-width: 1362px; }
  .profitable-terms:before {
    right: -220px; }
  .production-slider__item {
    min-width: 826px;
    height: 1106px; }
  .workshops-img {
    min-width: 661px;
    margin: 0 113px 0 0; }
  .specialists-img {
    min-width: 955px;
    margin: 0 0 0 32px; }
  .ages-content {
    padding: 0 0 0 58px; }
  .sales {
    padding: 150px 0 100px; }
  .news {
    padding: 100px 0 150px; } }

@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
