/*========== modal ==========*/
.modal-dialog {
  max-width: 1031px; }

.modal-content {
  -webkit-box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.1);
  border: 2px solid #000000;
    border-radius: 16px;
  background: #fff;
  padding: 50px; }

.modal-header {
  padding: 0;
  border: none;
  margin: 0 0 50px; }
  .modal-header .close {
    position: absolute;
    margin: 0;
    padding: 16px;
    width: 56px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #ffffff;
    border: 2px solid #000000;
      border-radius: 50%;
    top: 0;
    right: -76px;
    opacity: 1;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease; }

.modal-title {
  font-size: 32px;
  line-height: 40px; }

.modal-body {
  padding: 0;
  border: none; }
  .modal-body .form {
    margin: 0; }
    .modal-body .form input {
      padding: 35px 0 15px;
      height: 84px; }

.form-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  margin: 50px 0 0; }

.consent {
  width: calc(100% - 146px);
  padding: 0 0 0 30px;
  line-height: 24px;
  font-size: 16px; }

.modal-backdrop.show {
  opacity: .15; }

/*========== modal end ==========*/
