@import "vars"

/*========== catalog page  ==========*/
.page
  padding: 113px 0 120px
  h1
    margin-bottom: 80px

.catalog-card
  border: 2px solid #FBF9F8
    radius: 16px
  position: relative
  background: transparent
  padding: 56px
  display: flex
  align-items: center
  .links-arrow
    margin: 0
  &:before
    display: none
  .card-product__body
    padding: 0
    order: -1
    width: 50%
    height: auto
  .card-product__img
    width: 470px
    height: 313px
    position: absolute
    top: -17px
    right: -100px
    img
      width: 100%
      height: auto
  .all-type
    margin: 24px 0 32px
    font-size: 16px
  .card-product__name
    font-size: 32px
  &.card-product2
    .card-product__img
      top: -24px
      right: -149px
      width: 551px
      height: 407px
  &.card-product3
    .card-product__img
      top: -56px
      right: -143px
      width: 572px
      height: 403px
  &.card-product4
    .card-product__img
      top: -312px
      right: -19px
      width: 285px
      height: 719px


.product-card-col
  max-width: 20%

.menu-products
  max-width: 250px
  margin: 0 0 48px
  li
    margin: 0 0 24px
    .active
      background: #000
      color: #fff

    a
      width: 100%
      border: 1px solid transparent
      &:hover
        background: #fff
        border-color: #000

.catalog-banner-v2
  padding: 289px 28px 0 0
  h4
    font-size: 32px
    font-weight: 300
    line-height: 29px
    margin: 0 0 21px
  .catalog-banner__bg
    width: 100%
    height: 100%
    bottom: 0
    img
      width: 100%
      height: 100%
      object-fit: cover
  .catalog-banner__content
    position: relative
    background: #F5F0ED
    width: 100%
    padding: 42px 33px 41px
    overflow: hidden
    &:before
      content: ''
      position: absolute
      background: url("../img/decor-bg1.svg") no-repeat center
        size: 100%
      width: 94px
      height: 121px
      right: -28px
      bottom: -31px

.catalog-page-internal
  padding-bottom: 102px

.btn-filter
  &:after
    content: ''
    width: 16px
    height: 16px
    display: flex
    align-items: center
    justify-content: center
    margin: 0 0 0 10px
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L8 11L15 5' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat center
      size: 100%
/*========== catalog page end  ==========*/