@import "vars"

/*==========  section home  ==========*/
.home
  background: url("../img/bg1.png") no-repeat center
    size: cover
  padding: 278px 0 148px
  color: #fff

  .box-text
    margin: 48px 0 0
    font-size: 24px
    line-height: 40px
    max-width: 615px
    width: 100%


/*==========  section home end  ==========*/



/*==========  section advantages ==========*/
.advantages
  padding: 98px 0

.advantages-box
  font-size: 24px
  line-height: 32px

  &__icon
    display: flex
    align-items: center
    margin: 0 0 24px
    width: 24px
    height: 24px

.section-decor-line
  position: relative

  &:before
    content: ''
    position: absolute
    left: 50%
    bottom: 0
    transform: translate(-50%, 0)
    width: calc(100% - 30px)
    max-width: 1530px
    height: 2px
    background: #000
/*==========  section advantages end  ==========*/


/*==========  section  ==========*/
.productions
  h2
    margin: 0 auto 150px

.card-product
  background: #FBFAF9
  border-radius: 16px
  position: relative
  overflow: hidden
  width: 100%
  z-index: 1

  &:before
    content: ''
    position: absolute
    width: 312px
    height: 312px
    border-radius: 50%
    left: -100%
    bottom: -100%
    transition: .3s ease
    background: #EAD9CD
    z-index: -1

  &:hover
    &:before
      left: -112px
      bottom: -112px

  &__img
    width: 100%
    height: 271px
    display: flex
    align-items: center

    img
      background-blend-mode: darken

  &__body
    width: 100%
    padding: 88px 32px 32px

  &__name
    font-size: 24px
    font-weight: 600
    color: #000000

    &:hover
      color: #000

  .links-arrow
    margin: 32px 0 0

.links-arrow
  display: flex
  align-items: center
  justify-content: center
  width: 24px
  height: 24px
  stroke: #000
  fill: none

/*==========  section end  ==========*/



/*==========  section popular  ==========*/
.popular
  margin: 150px 0 90px

.sidebar
  width: 100%
  max-width: 290px

.popular-category
  width: 100%
  font-weight: 600

  li
    margin: 0 0 32px

    &:last-child
      margin: 0

    a
      padding: 16px 32px
      border-radius: 16px
      color: #000

      &:hover
        background: #FBFAF9
        color: #000

.btn-link
  margin: 32px 0
  width: fit-content
  padding: 16px 32px
  border-radius: 16px

.catalog-banner
  background: #FBFAF9
  width: 100%
  position: relative
  overflow: hidden
  padding: 33px 48px 412px 32px
  z-index: 1

  h4
    font-size: 24px
    font-weight: 600
    margin: 0 0 16px
    color: #000

  &__bg
    position: absolute
    width: 780px
    height: 585px
    display: flex
    align-items: center
    justify-content: center
    bottom: -125px
    left: 50%
    transform: translate(-50%, 0)
    z-index: -1

.links-download
  display: flex
  align-items: center
  color: #000

  .format-document
    color: #fff
    margin: 0 0 0 16px

  &__icon
    stroke: #000
    display: flex
    align-items: center
    justify-content: center
    margin: 0 0 0 8px
    width: 16px
    height: 16px

  &:hover
    color: inherit

.product-card
  width: 100%
  height: 100%
  padding: 16px 16px 24px
  font-size: 14px

  &__img
    display: flex
    align-items: center
    justify-content: center
    height: 193px
    width: 100%
    padding: 30px

    img
      max-height: 100%

  &__body
    width: 100%
    padding: 16px 0 0

  &__name
    font-size: 16px
    color: #000

    &:hover
      color: $accent

  .box-text
    margin: 16px 0 0
    color: #808080

  .links-arrow
    margin: 16px 0 0
/*==========  section popular end  ==========*/



/*==========  section profitable-terms  ==========*/
.profitable-terms
  padding: 123px 0
  position: relative
  overflow: hidden
  z-index: 1

  &:before
    content: ''
    position: absolute
    z-index: -1
    right: 0
    bottom: 0
    width: 605px
    height: 377px
    background: url("../img/decor-bg1.svg") no-repeat center
      size: 100%

.profitable-terms-box
  position: relative
  font-size: 24px
  line-height: 32px
  padding: 0 0 0 40px
  &:before
    content: ''
    position: absolute
    left: 8px
    top: 8px
    width: 14px
    height: 14px
    background: #C6916A



.box-input
  position: relative

.input-text
  position: absolute
  left: 0
  bottom: 15px
  transition: .3s ease

.box-input
  input:focus ~ .input-text,
  input:valid ~ .input-text
    bottom: auto
    top: 0
    font-size: 14px
    font-weight: 600
/*==========  section profitable-terms end  ==========*/



/*==========  section production ==========*/
.production
  margin: 207px 0 150px

  .box-text
    font-size: 32px
    line-height: 56px
    margin: 121px 0

.production-content
  width: 100%
  height: 100%
  display: flex
  flex-direction: column


.square
  margin: auto 0 0
  span
    display: block
    margin: 10px 0 0
  p
    font-size: 32px
    font-weight: 600
    strong
      font-size: 72px
      line-height: 56px
    sup
      font-family: $font
      font-size: 56px

.production-slider__item
  height: 1058px
  min-width: 872px
  display: flex
  align-items: center
  justify-content: center
  img
    width: 100%
    height: 100%
    object-fit: cover

.production-slider
  min-width: 872px
  float: left


.production-wrapper
  margin: 0 0 0 65px
  .slider-nav
    position: absolute
    left: 0
    bottom: 0
    z-index: 1
    padding: 30px

/*==========  section production end  ==========*/


/*==========  section workshops ==========*/
.workshops-content
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  padding: 0 0 0 33px
  h2
    margin: 0 0 72px
    font-size: 252px
    font-weight: 600
    line-height: 192px
  h3
    font-size: 72px
    line-height: 76px



.workshops-img
  min-width: 848px
  display: flex
  align-items: center
  justify-content: center
  margin: 0 90px 0 0
  float: right
  img
    width: 100%
/*==========  section workshops end  ==========*/



/*==========  section  ==========*/
.production-composition-box
  h3
    font-size: 32px
    line-height: 40px
    margin: 32px 0 32px
  .box-text
    line-height: 32px
  &__icon
    width: 32px
    height: 32px
    display: flex
    align-items: center
    justify-content: center

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/

/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/