@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px)
  .menu li
    margin: 0 16px 0 0

  .btn-search
    margin: 0 0 0 16px

  .profitable-terms
    &:before
      right: -559px
      bottom: -149px

  .priorities:before
    left: -600px

@media only screen and (max-width: 1580px)
  .container
    max-width: 1392px

  header
    padding: 23px 0 34px

    .container
      max-width: 1510px

  .btn-border
    padding: 0 24px

  .home
    padding: 240px 0 110px

  .section-decor-line:before
    max-width: 1362px


  .production-slider__item
    min-width: 826px
    height: 1106px

  .workshops-img
    min-width: 661px
    margin: 0 113px 0 0

  .specialists-img
    min-width: 955px
    margin: 0 0 0 32px

  .ages-content
    padding: 0 0 0 58px

  .sales
    padding: 150px 0 100px

  .news
    padding: 100px 0 150px

  .menu
    margin: 0 16px

  .documents-links-pdf
    margin: 0 16px 0 0

  .dropdown-menu-contacts
    min-width: 255px
    left: auto !important
    right: 0 !important

  .specialists-content
    padding: 122px 0 0

  .logo-img
    max-width: 402px
    margin: 0 0 0 26px

  .logo-slogan
    font-size: 56px
    line-height: 52px
    max-width: 320px
    margin: -25px 26px 70px auto

  .ages-img
    height: 417px

  .sales-slider
    margin: 0 -15px

    .slide
      padding: 0 15px

  .page
    padding: 110px 0 130px

  .catalog-page-internal
    padding-bottom: 102px

  .gallery-page
    padding-bottom: 94px

  .other-sales
    padding: 0 0 90px

  .about-section__img
    min-width: 890px
    height: 593px

  .about-section
    padding-bottom: 150px
    h1
      font-size: 40px
      line-height: 55px

  .priorities
    padding: 100px 0
    &:before
      left: -700px

  .priorities-box
    margin: 0 0 80px

  .production-description
    margin: 150px 0
    .production-slider__item
      min-width: 695px
      height: 735px
      margin: 0 0 0 80px

  .production-composition-about
    margin: 150px 0 0

  .company-in-number
    margin: 150px 0

  .details-about .production-wrapper-max .production-slider__item
    height: 804px
    min-width: 1252px

  .company-departments
    padding: 100px 0

@media only screen and (max-width: 1430px)
  .menu
    margin: 0 auto 0 16px

    .nav-item
      display: none

    .dropdown
      display: flex

  .documents-links
    margin: 0 36.5px




@media only screen and (max-width: 1350px)
  h1
    font-size: 60px
    line-height: 72px

  h2
    font-size: 60px
    line-height: 72px

  h3
    font-size: 28px

  .container
    max-width: 1200px

  .home
    padding: 248px 0 118px

  header
    .container
      max-width: 1280px

  .p-150
    padding: 94px 0

  .section-decor-line:before
    max-width: 1170px

  .advantages-box
    font-size: 20px

  .card-product__body
    padding: 56px 32px 32px

  .card-product__name
    font-size: 20px

  .btn-link
    margin: 16px 0 32px

  .catalog-banner
    padding: 33px 29px 412px 32px

  .profitable-terms-box
    font-size: 20px

  .profitable-terms
    padding: 100px 0

    &:before
      right: -600px
      bottom: -255px

  .production-slider__item
    min-width: 975px
    height: 985px

  .production
    margin: 150px 0 128px

    .box-text
      margin: 100px 0
      font-size: 28px
      line-height: 48px

  .workshops
    margin: 0
    padding: 150px 0 0

  .workshops-img
    min-width: 607px
    margin: 0 55px 0 0

    img
      width: 100%
      height: 100%
      object-fit: cover

  .workshops-content
    h3
      font-size: 60px

    h2
      font-size: 200px

  .production-composition
    .btn
      white-space: nowrap

  .production-composition-box
    h3
      font-size: 28px

  .specialists-img
    min-width: 842px

  .specialists-content
    h2
      span
        font-size: 200px

    .box-text
      font-size: 28px

  .logo-img
    margin: 0 0 0 22px
    max-width: 342px

  .logo-slogan
    font-size: 47px
    max-width: 271px
    margin: -15px 22px 60px auto

  .ages-img
    height: 356px

  .ages-content
    .box-text
      font-size: 28px
      line-height: 48px

    h2
      margin: 0 0 24px

  .sales
    padding: 150px 0 100px


  .news
    padding: 100px 0 150px

  footer
    padding: 110px 0

  .description-company
    max-width: 270px

  .copyright-box
    max-width: 270px

  .footer-menu
    margin: 0

  .col-menu
    flex: none
    width: 100%
    max-width: none
    margin-bottom: 30px

    &:first-child
      margin-bottom: 16px

  .developer-web
    margin: 49px 0 0 auto

  .catalog-banner-v2
    padding: 289px 28px 0 0

  .other-sales
    padding: 0 0 90px

  .gallery-product-item
    height: 392px

  .list-radio li
    margin: 0 16px 16px 0

  .description-product h3
    font-size: 28px

  .about-section__img
    min-width: 678px
    height: 493px

  .logo-company
    max-width: 326px

  .about-section
    padding-bottom: 100px
    h1
      font-size: 32px
      line-height: 48px

  .priorities-box
    h3
      font-size: 40px
      line-height: 1
    .box-text
      font-size: 20px
      line-height: 40px

  .priorities:before
    left: -870px

  .production-description
    margin: 100px 0
    .production-slider__item
      height: 696px
      min-width: 603px
    .box-text
      margin: 60px 0
      font-size: 20px
      line-height: 40px

  .production-composition-about .production-composition-box h3
    font-size: 40px
    line-height: 1


  .production-composition-about .production-composition-box .box-text
    font-size: 20px
    line-height: 40px

  .production-composition-about .production-composition-box
    margin: 0 0 100px

  .production-composition-about
    padding: 0

  .company-in-number
    margin: 100px 0


  .company-in-number
    .box-text
      font-size: 28px
      line-height: 40px
    h3
      font-size: 120px
      line-height: 120px

  .details-about h3
    font-size: 40px
    line-height: 40px

  .details-about .production-wrapper-max .production-slider__item
    min-width: 1156px
    height: 804px

  .company-departments-box
    h3
      font-size: 40px
      line-height: 40px
    .box-text
      font-size: 20px
      line-height: 40px

@media only screen and (max-width: 1200px)
  header
    .menu
      display: none

    &.fixed
      .btn-menu
        color: #000

        &__icon
          fill: #000

  .btn-menu
    display: flex
    margin: 0 16px

  .documents-links
    margin: 0 auto

  .mb-15
    margin-bottom: 15px

  .card-product
    position: relative

    &__name
      br
        display: none

    &__img
      justify-content: flex-end
      position: absolute

    &__body
      padding: 177px 32px 32px 32px

  .card-product1
    .card-product__img
      top: -125px
      right: -8px

  .card-product2
    .card-product__img
      top: -80px
      right: -8px

  .card-product3
    .card-product__img
      top: -78px
      right: 0

  .card-product4
    .card-product__img
      top: -130px
      right: 0

  .popular
    margin: 100px 0

    h3
      font-size: 48px

  .catalog-banner
    width: 100%
    margin: 0 0 30px
    padding: 40px 40px 32px
    background: #FBFAF9

    &__content
      max-width: 210px

    h4
      margin: 0 0 24px

  .catalog-banner__bg
    left: auto
    right: -85px
    transform: none
    top: -130px
    bottom: auto
    background: linear-gradient(90deg, #FBFAF9 0%, rgba(251, 250, 249, 0) 16.69%)

  .popular-category
    display: flex
    flex-direction: row
    align-items: stretch
    flex-wrap: nowrap

    li
      margin: 0 10px 0 0
      width: 256px
      min-width: 256px

  .sidebar
    max-width: none
    overflow-y: auto
    width: calc(100% + 80px)
    margin: 0 0 30px

  .popular .mb-60
    margin-bottom: 30px

  .btn-link
    margin: 0 auto

  .profitable-terms
    &:before
      right: -615px
      bottom: -126px

    .mb-60
      margin-bottom: 40px

  .profitable-terms-box
    font-size: 16px
    line-height: 24px

  h3
    font-size: 20px

  .form-callback
    max-width: 528px

    .mb-60
      margin-bottom: 60px

    .mb-40
      margin-bottom: 30px

    button
      margin: 10px 0 0

  .production-slider__item
    min-width: 690px
    height: 507px

  .production
    margin: 100px 0 150px

    h2
      margin: 0 0 71px

      br
        display: none

    .box-text
      margin: 0 0 auto
      font-size: 20px
      line-height: 32px

  .square
    p
      font-size: 16px

      sup
        font-size: 50px

    strong
      font-size: 40px
      line-height: 56px


  .production-wrapper
    margin: 0

  .workshops
    padding: 0

  .workshops-img
    min-width: 455px
    margin: 0
    height: 715px

  .workshops-content
    padding: 0 0 0 25px

    h2
      margin: 0 0 56px
      font-size: 100px
      line-height: 100%

    h3
      font-size: 48px
      line-height: 56px

  .production-composition
    margin: 100px 0 120px

  .production-composition-box
    margin: 0 0 30px

    h3
      font-size: 20px
      line-height: 28px

  .specialists-content
    padding: 0
    margin: 0 0 72px

    h2
      display: flex
      align-items: flex-start

      span
        display: inline-block
        margin: 0 72px 0 0
        font-size: 100px
        line-height: 100px

  .specialists-img
    margin: 0 0 72px
    min-width: auto
    width: 100%
    height: auto

  .specialists
    padding: 0 0 100px

    .box-text
      font-size: 20px
      max-width: 670px

  .ages-images
    display: flex
    align-items: flex-start

  .ages-img
    width: 50%
    height: 356px

  .ages-content
    padding: 0
    margin: 40px 0 0

    .box-text
      margin: 50px 0
      font-size: 20px
      line-height: 32px

  .logo-wrapper
    width: 50%

  .logo-img
    margin: 0
    max-width: 250px

  .logo-slogan
    font-size: 34px
    line-height: 32px
    margin: -20px 0 0 106px

  .p-150
    padding: 100px 0

  .sale-card__title
    font-size: 20px
    line-height: 28px

  .sale-card__date
    margin: 0 0 16px

  .sale-card__img
    height: 196px

  .sales
    padding: 100px 0

  .copyright-box
    max-width: none
    margin: 0

  footer
    padding: 100px 0

    .btn-group
      margin: 0 0 40px

  .developer-web
    margin: 0 0 0 auto

  .description-company
    max-width: 391px

  .col-menu
    margin-top: 40px

    &:first-child
      flex: 0 0 58.333333%
      max-width: 58.333333%

    &:last-child
      flex: 0 0 41.666667%
      max-width: 41.666667%

  .text-pc
    display: none

  .text-mobile
    display: block

  .dropdown-wrapper
    padding: 50px 0

  .catalog-col-menu li
    margin: 0 0 10px

  .dropdown-menu-list
    display: block

  .dropdown-catalog
    display: none

  .catalog-card
    .card-product__name
      font-size: 28px

  .catalog-card.card-product1 .card-product__img
    width: 405px
    height: 300px
    top: -72px
    right: -191px

  .catalog-card.card-product3 .card-product__img
    width: 472px

  .product-card-col
    max-width: 25%

  .catalog-page-internal
    padding-bottom: 70px
    .sidebar
      width: 100%
      overflow-y: visible

  .menu-products
    flex-wrap: wrap
    margin: 0
    max-width: none
    li
      min-width: auto
      width: fit-content
      margin: 0
      a
        padding: 10px 20px

  .mb-48
    margin-bottom: 30px

  .catalog-banner-v2
    padding: 233px 22px 0 0
    .catalog-banner__content
      max-width: none
      padding: 33px 27px
      &:before
        width: 77px
        height: 98px
        right: -22px
        bottom: -25px
    .catalog-banner__bg
      left: 0
      top: 0
      right: auto
      bottom: auto
    h4
      margin: 0 0 17px
      font-size: 25px
      line-height: 24px

  .actual-vacancies
    margin: 80px 0 0
    max-width: none

  .vacancies-box
    max-width: none

  .vacancies-page
    padding-bottom: 68px


  .modal-dialog
    max-width: 800px

  .modal-body
    .form
      max-width: none

  .gallery-page
    padding-bottom: 44px

  .gallery-box__title
    font-size: 20px

  .date-tour
    display: none


  .gallery-page-details
    padding-top: 100px
    h1
      margin: 0 0 50px

  .sales-page-details
    h1
      font-size: 48px
      line-height: 56px

    &__info
      margin: 30px 0
    &__img
      max-height: 550px
      margin: 0 0 30px
    .box-text
      margin: 0 0 56px
      &:last-child
        margin: 0
      h4
        margin: 16px 0

  .other-sales
    padding: 0 0 40px
    h2
      padding: 0 0 60px

  .about-section
    padding-bottom: 100px
    h1
      width: calc(100% - 326px)
      padding: 0 0 0 45px
      margin: 0

  .about-section__img
    min-width: auto
    height: auto

  .about-section__content
    flex-direction: row
    align-items: center
    margin: 0 0 60px
    height: auto

  .logo-company
    margin: 0

  .priorities:before
    width: 1070px
    height: 1360px
    top: 38px
    left: -600px
    -webkit-background-size: contain
    background-size: contain

  .priorities-box
    margin: 0 0 60px
    h3
      margin: 0 0 40px
      font-size: 32px
      line-height: 1
    .box-text
      font-size: 16px
      line-height: 32px

  .production-description
    margin: 100px 0
    h2
      margin: 0
      font-size: 48px
      line-height: 56px
    .box-text
      margin: 0 0 40px


  .production-description .production-slider__item
    min-width: auto
    width: 100%
    margin: 40px 0
    height: 420px

  .production-composition-about .production-composition-box h3
    font-size: 32px
    line-height: 1
    margin: 40px 0

  .production-composition-about .production-composition-box .box-text
    font-size: 16px
    line-height: 32px

  .production-composition-about .production-wrapper
    margin: 40px 0 0

  .production-composition-about .production-slider__item
    height: 293px

  .company-in-number-box
    .box-text
      font-size: 20px
      line-height: 28px
    h3
      margin: 0 0 30px
      font-size: 80px
      line-height: 100%
      span
        font-size: 16px
        line-height: 32px

  .details-about .production-wrapper-max .production-slider__item
    height: 739px
    min-width: 1046px

  .details-about h3
    margin: 56px 0
    font-size: 32px
    line-height: 1

  .details-about .box-text
    font-size: 16px
    line-height: 32px

  .company-departments-box
    h3
      font-size: 32px
      line-height: 1
    .box-text
      margin: 20px 0
      font-size: 16px
      line-height: 32px

  .productions-section
    h3
      font-size: 32px
      line-height: 1
    .catalog-card.card-product1 .card-product__img
      top: -120px
    .catalog-card.card-product2 .card-product__img
      right: -200px
    .catalog-card.card-product3 .card-product__img
      right: -230px
      width: 450px
      top: -130px

  .productions-section .card-product__name
    font-size: 20px
    line-height: 32px

  .details-about .production-slider__item
    height: 304px

/* Medium Devices, Desktops */
@media only screen and (max-width: 1010px)
  header
    .container
      max-width: 938px

  .container
    max-width: 837px

  .section-decor-line:before
    max-width: 807px

  h1, h2
    font-size: 48px
    line-height: 56px

  .home
    padding: 271px 0 148px

  .p-150
    padding: 65px 0

  .m-150
    margin: 100px 0

  .advantages-box
    font-size: 16px
    line-height: 24px

  .productions

    h2
      margin: 0 auto 100px

  .sales
    padding: 100px 0

    .box-text
      line-height: 24px
      margin: 16px 0 0

  .catalog-card .card-product__name
    font-size: 20px

  .page
    h1
      margin-bottom: 50px

  .catalog-card .all-type
    margin: 24px 0 20px

  .breadcrumb-nav
    margin: 20px 0

  .catalog-card.card-product1 .card-product__img
    top: -54px
    right: -216px


  .catalog-card.card-product2 .card-product__img
    width: 400px
    height: 300px

  .catalog-card.card-product3 .card-product__img
    width: 370px

  .catalog-card.card-product4 .card-product__img
    width: 200px

  .menu-products
    li
      margin: 0 0 10px


  .modal-dialog
    max-width: 600px

  .modal-header
    margin: 0 0 30px

  .form-wrapper
    padding: 0
    margin: 40px 0 0


  .reviews-box
    margin: 0 0 30px

  .reviews-page
    padding-bottom: 120px

  .other-sales
    padding: 0 0 40px

  .list-contacts
    margin: 0 0 -1px
    li
      padding: 15px 0

  .contacts-page
    .btn-call
      margin: 15px 0 0

  .gallery-preview-item
    height: 70px

  .gallery-preview
    .slick-slide
      padding: 0 5px

  .gallery-product-item
    height: 344px
    .images-value
      font-size: 14px
      align-items: flex-start
      max-width: 184px
      line-height: 22px
    .images-value__icon
      min-width: 16px
      margin: 5px 10px 0 0

  .code-product
    margin: 0 0 10px

  .product-name
    margin: 0 0 40px

  .product-page
    padding-bottom: 100px
    h1
      margin: 0 0 40px

  .description-product
    padding: 40px 0
    margin: 40px 0 0
    h3
      margin: 0 0 30px
      font-size: 20px
      line-height: 28px

  .product-characteristic
    margin: 0 0 30px

  .btn-order
    margin: 40px 0 0

  .more-category
    margin: 0 0 100px

  .all-category
    width: 100%
    &__body
      max-width: none
      padding: 36px 24px
      br
        display: none
    &__img
      top: -130px
      right: -90px


/* Small Devices, Tablets */
@media only screen and (max-width: 850px)
  .documents-links
    display: none

  header
    .dropdown
      margin: 0 0 0 auto

  .catalog-col__img img
    right: -10px

  .catalog-col3 .catalog-col__img img
    right: 0

  .catalog-col2 .catalog-col__img img
    right: 0

  .catalog-col4 .catalog-col__img img
    right: 0

  .product-card-col
    max-width: 33.3%

  .mb-48
    margin-bottom: 20px

  .catalog-banner-v2
    padding: 179px 17px 0 0
    h4
      font-size: 19px
      line-height: 18px
      margin: 0 0 13px
    .catalog-banner__content
      &:before
        width: 59px
        height: 75px
        right: -17px
        bottom: -19px

  .catalog-page-internal
    .product-card__img
      height: 150px

  .priorities:before
    width: 513px
    height: 652px
    left: -250px
    top: 138px

@media only screen and (max-width: 768px)
  .container
    max-width: 672px

  header
    .container
      max-width: 700px

  .home
    padding: 243px 0 120px


  .catalog-banner__bg
    width: 656px
    height: 492px
    right: -250px
    top: -130px

  .form-callback
    max-width: 421px

    h3
      font-size: 20px

  .profitable-terms
    &:before
      right: -690px
      bottom: -57px

  .production-slider__item
    height: 405px
    min-width: auto
    width: 100%

  .production-slider
    min-width: auto

  .production
    .box-text
      margin: 50px 0

    h2
      margin: 0

  .square
    p
      strong
        font-size: 40px
        line-height: 56px

      sup
        font-size: 30px

  .production-wrapper
    margin: 50px 0 0

  .workshops
    margin: 0

  .workshops-img
    margin: 60px 0 0
    min-width: auto
    width: 100%
    height: 410px

  .workshops-content
    padding: 0
    flex-direction: row
    justify-content: space-between

    h2
      margin: 0
      width: fit-content

    h3
      width: calc(100% - 114px)

  .production-composition
    margin: 100px 0 56px

  .specialists-content
    margin: 0 0 50px

    h2
      flex-direction: column
      align-items: flex-start

      span
        margin: 0 0 30px

  .specialists-img
    margin: 0 0 50px

  .section-decor-line:before
    max-width: 642px

  .ages
    padding: 100px 0

  .ages-images
    flex-direction: column
    align-items: flex-start

  .logo-wrapper
    width: 100%

  .ages-img
    width: 100%
    height: 282px
    margin: 60px 0 0

  .sale-card__img
    height: 167px

  footer .btn-group
    margin: 0 0 80px

  .dropdown-wrapper
    height: 100%
    top: 0
    max-width: 425px
    width: 100%
    position: fixed
    padding: 60px
    border: none
      right: 2px solid #000
    .container
      height: 100%
      overflow-y: auto
    &__close
      top: 72px
      transform: none
      left: calc(100% + 22px)
    &__title
      color: #000
      margin: 0 0 39px
      font-size: 48px
      font-weight: 600
      line-height: 56px
    .documents-links
      display: flex
      flex-direction: column
      align-items: flex-start
      margin: 39px 0 0
    .documents-links-pdf
      color: #000
      margin: 0 0 39px
      background: #F5F0ED
      .svg-icon
        stroke: #000
    .format-document
      color: #fff
    .documents-links-price
      color: #000
      .svg-icon
        stroke: #000

  .menu-list
    flex-direction: column
    align-items: flex-start
    li
      margin: 0 0 39px

  .catalog-col
    margin: 0 0 30px

  .catalog-card
    padding: 271px 32px 32px 32px
    .card-product__img
      width: 100%
      height: 271px

    .card-product__body
      width: 100%

  .catalog-card.card-product1 .card-product__img
    left: 68px
    top: -100px

  .catalog-card.card-product2 .card-product__img
    left: -20px
    top: -50px

  .catalog-card.card-product3 .card-product__img
    left: 70%
    top: -80px
    transform: translate(-50%,0)

  .catalog-card.card-product4 .card-product__img
    left: 102px
    height: 537px
    width: 215px

  .mb-30
    margin-bottom: 15px

  .page
    padding: 110px 0 115px

  .catalog-page-internal
    padding-bottom: 70px

  .modal-title
    font-size: 28px
    line-height: normal

  .modal-header
    .close
      right: 10px
      top: 10px
      width: 40px
      height: 40px
      padding: 13px

  .consent
    padding: 0
    width: 100%
    margin: 0 0 15px
    order: -1

  .modal-content
    padding: 30px

  .gallery-box
    margin-bottom: 30px
    .date
      font-size: 14px
    &__title
      font-size: 16px

  .gallery-page
    padding-bottom: 20px

  .pagination-gallery
    margin: 22px 0 0
    border: none
      top: 2px solid #000
    li
      width: 100%
      flex: none
      border: none
        bottom: 2px solid #000
      &:nth-child(2)
        order: 1
      &:last-child
        border: none
          bottom: 2px solid #000

  .gallery-page-details
    padding-bottom: 50px
    h1
      margin: 0 0 30px

  .btn-reviews
    margin: 0 0 30px auto

  .reviews-page
    h1
      margin: 0 0 30px

  .table-responsive
    margin: 0

  .table
    line-height: 26px
    font-size: 14px

  .sales-page-details
    position: relative
    padding-bottom: 50px
    h1
      margin: 0
    &__info
      flex-direction: column
      align-items: flex-start
    &__date
      margin: 0 0 15px
    &:before
      content: ''
      position: absolute
      left: 50%
      bottom: 0
      transform: translate(-50%,0)
      width: calc(100% - 30px)
      height: 2px
      background: #000
    .table
      min-width: 800px
    .box-text
      font-size: 14px
      line-height: 26px
      margin: 0 0 20px
      p
        margin: 0 0 20px
      ol
        margin: 0 0 20px
      h4
        margin: 20px 0 10px
        line-height: 26px
        font-size: 14px
      h3
        font-size: 16px
        line-height: 26px
        margin: 0 0 20px
      h2
        margin: 0 0 20px
        font-size: 24px
        line-height: 28px

  .other-sales
    padding: 50px 0 0
    h2
      padding: 0
      border: none

  .code-product
    margin: 0 0 20px

  .product-page
    padding-bottom: 100px
    h1
      margin: 0 0 50px

  .product-photo
    display: flex
    align-items: flex-start
    flex-wrap: wrap

  .gallery-product
    margin: 0
    width: calc(100% - 118px)
    padding: 0 40px 0 0

  .gallery-product-item
    padding: 30px
    height: 347px
    .images-value
      padding: 10px 24px
      flex-direction: row-reverse
      left: auto
      right: 30px
      bottom: 30px
    .images-value__icon
      margin: 5px 0 0 10px

  .gallery-preview
    width: 118px
    height: 100%
    padding: 36px 0
    .slick-slide
      padding: 0
      margin: 0 0 10px
    .slick-arrow
      left: 50%
      top: auto
      transform: translate(-50%,0)
    .slick-prev
      top: 0
      .svg-icon
        transform: rotate(90deg)
    .slick-next
      bottom: 0
      .svg-icon
        transform: rotate(90deg)

  .gallery-preview-item
    height: 81px

  .product-content
    margin: 50px 0 0
    max-width: none

  .btn-order
    margin: 30px 0 0

  .description-product
    border: none
    margin: 50px 0 0
    padding: 0

  .more-category-slider
    .slick-prev
      left: 0
    .slick-next
      right: 0

  .all-category
    &__body
      padding: 24px
    &__text
      max-width: 221px

  .more-category
    margin: 0 0 50px
    h2
      margin: 0 0 30px
      font-size: 28px
      line-height: 36px

  .all-category
    padding: 109px 0 0
    &__img
      top: -100px
      left: 50%
      transform: translate(-50%,0)
      right: auto
    &__body
      min-width: auto

  .logo-company
    max-width: 264px

  .about-section
    padding-bottom: 100px
    h1
      width: calc(100% - 264px)
      margin: 0
      font-size: 20px
      line-height: 32px

  .about-section__content
    margin: 0 0 40px

  .priorities:before
    left: -350px

  .production-description .box-text
    margin: 0 0 40px

  .production-composition-about .production-slider__item
    height: 250px

  .details-about .production-wrapper-max .production-slider__item
    height: 739px
    min-width: 937px
    max-width: 937px


  .details-about .production-slider__item
    height: 250px

  .company-departments-box
    h3
      font-size: 20px
      line-height: 28px

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px)
  .p-150
    padding: 50px 0

  .mb-100
    margin-bottom: 50px

  h1, h2
    font-size: 28px
    line-height: 36px

  h1 span
    margin: 0 0 15px
    font-size: 16px
    line-height: 24px

  header
    padding: 22px 0

    .dropdown
      display: none

  .header-links
    margin: 0 0 0 auto

  .popular
    .mb-80
      margin-bottom: 30px

    h3
      font-size: 28px
      max-width: 180px

  .footer-col
    align-items: flex-start
    text-align: left
    margin: 50px 0

  .phone-mobile
    line-height: 36px
    font-size: 28px
    margin: 0 0 10px

  footer
    padding: 50px 0
    .mail
      margin: 20px 0 10px
      font-size: 28px
      line-height: 36px
    .btn-group
      margin: 0 0 50px
    .logo
      max-width: 125px

  .developer-web
    margin: 50px 0 0

  .description-company
    margin: 20px 0
    max-width: 328px
    font-size: 14px
    line-height: 22px

  .mb-60
    margin-bottom: 30px

  .sales
    padding: 50px 0

  .sale-card__img
    height: 154px

  .sale-card__title
    font-size: 16px
    line-height: 24px

  .sales
    .box-text
      font-size: 14px
      line-height: 22px

  .sale-card
    margin: 0 0 30px

  .slider-mobile
    flex-wrap: nowrap
    margin: 0

  .sales-slider
    width: calc(100% + 15px)

    .slide
      width: 193px
      padding: 0
      margin: 0 30px 0 0

  .ages
    padding: 50px 0

  .ages-content
    .box-text
      margin: 30px 0
      line-height: 24px
      font-size: 16px
    span
      font-size: 16px

  .ages-img
    height: 215px
    margin: 40px 0 0

  .specialists
    padding: 0 0 50px
    .box-text
      font-size: 16px
      line-height: 24px

  .specialists-img
    margin: 0 0 30px

  .specialists-content
    margin: 0 0 30px
    h2
      span
        font-size: 72px
        margin: 0 0 15px
        line-height: 100%

  .production-composition
    margin: 30px 0 20px

  .production-composition-box
    font-size: 14px
    .box-text
      line-height: 22px
    h3
      margin: 15px 0
      font-size: 16px

  .workshops-content
    flex-direction: column
    align-items: flex-start
    h2
      margin: 0 0 15px
      font-size: 72px
      line-height: 100%
    h3
      width: 100%
      font-size: 28px
      line-height: 36px

  .production
    margin: 50px 0 73px
    .box-text
      margin: 30px 0
      font-size: 16px
      line-height: 24px

  .production-wrapper
    margin: 30px 0 0

  .square span
    margin: 0
    font-size: 14px

  .profitable-terms
    padding: 50px 0
    &:before
      display: none
    .mb-60
      margin-bottom: 20px

  .profitable-terms-box
    font-size: 14px
    line-height: 22px

  .form-callback
    max-width: none
    h3
      font-size: 16px
      margin: 0 0 10px
      line-height: 24px
    .mb-60
      margin-bottom: 20px
    button
      margin: 20px 0 0
      width: 100%
    .btn-text-mobile
      display: block
    .btn-text
      display: none

  .product-card
    font-size: 12px
    padding: 0
    &__img
      height: 150px
    &__name
      font-size: 14px
    &__label
      display: block
    .box-text
      margin: 10px 0 0

  .catalog-banner__bg
    width: 406px
    height: 306px
    right: -176px
    top: -89px

  .catalog-banner
    padding: 20px
    h4
      font-size: 16px
      line-height: 20px
      margin: 0 0 20px
    .links-download
      font-size: 12px
    .format-document
      margin: 0 0 0 10px
    &__content
      max-width: 140px

  .popular-category
    font-size: 14px
    li
      width: 147px
      min-width: 147px
      a
        padding: 15px 25px

  .sidebar
    width: calc(100% + 30px)

  .productions
    margin: 30px 0
    h2
      margin: 0 auto 30px

  .card-product
    height: auto
    display: flex
    flex-direction: row
    align-items: center
    &__img
      left: auto
      right: 0
      top: 0
      width: 212px
      height: 100%
      img
        height: auto
        width: auto
        max-width: 100%

    &__body
      padding: 20px
      width: calc(100% - 212px)
    &__name
      font-size: 16px
      line-height: 24px
    .links-arrow
      margin: 20px 0 0



  .card-product1
    .card-product__img
      width: 157px
      height: 187px
      right: -41px
      top: -59px

  .card-product2
    .card-product__img
      width: 179px
      height: 100%
      top: 0
      right: 0

  .card-product3
    .card-product__img
      width: 272px
      height: 100%
      top: -20px
      right: -100px

  .card-product4
    .card-product__img
      top: 0

  .advantages
    padding: 30px 0 10px

  .advantages-box
    margin: 0 0 20px
    font-size: 14px
    line-height: 22px

  .home
    padding: 112px 0 30px
    .box-text
      font-size: 14px
      line-height: 22px
      margin: 30px 0 0
      max-width: 328px

  .page
    padding: 96px 0 35px
    h1
      margin-bottom: 30px

  .breadcrumb
    margin: 50px 0 20px

  .catalog-card
    padding: 0
    .card-product__body
      width: 50%
      padding: 20px
    .card-product__name
      font-size: 16px
      max-width: 150px
    .all-type
      margin: 15px 0
      font-size: 14px
    .links-arrow
      margin: 0

  .catalog-card.card-product1 .card-product__img
    width: 257px
    height: 187px
    bottom: 40px
    right: -77px
    left: auto
    top: auto

  .catalog-card.card-product2 .card-product__img
    top: -40px
    left: auto
    right: -45px
    width: 248px
    height: 207px

  .catalog-card.card-product3 .card-product__img
    width: 272px
    height: 249px
    left: auto
    transform: none
    right: -80px

  .catalog-card.card-product4 .card-product__img
    right: -19px
    left: auto
    width: 180px

  .catalog-page-internal
    padding-bottom: 20px

  .catalog-banner-v2
    padding: 180px 17px 0 0
    .catalog-banner__content
      padding: 25px 20px
    h4
      font-size: 19px
      line-height: 18px
      margin: 0 0 13px

  .vacancies-page__description
    line-height: 24px
    font-size: 14px
    padding: 0 0 30px

  .vacancies-box
    padding: 30px 0
    font-size: 14px
    line-height: 24px
    h4
      font-size: 16px
      line-height: 24px


  .btn-call
    margin: 30px 0 0

  .actual-vacancies
    margin: 50px 0 0
    h3
      margin: 0 0 30px
      font-size: 24px

  .actual-vacancies-box
    margin: 0 0 20px
    padding: 32px
    h4
      font-size: 16px
      line-height: 24px

  .links-toggle.open
    .links-toggle__text
      display: none
    .links-toggle__text-mob
      display: block

  .gallery-page
    padding-bottom: 20px

  .gallery-item
    margin: 0 -10px 10px
    height: 115px
    width: calc(100% + 20px)

  .btn-reviews
    margin: 0 auto 30px
    max-width: none
    width: 100%

  .reviews-box
    &__head
      padding: 0 0 20px
      margin: 0 0 20px
    h4
      font-size: 16px
      line-height: 24px
    .box-text
      font-size: 14px
      line-height: 24px
    &__date
      margin: 20px 0 0
      font-size: 14px
      line-height: 32px

  .reviews-page
    padding-bottom: 20px



  .sales-page
    padding-bottom: 20px
    .sale-card__img
      height: 140px

  .sales-page-details
    h1
      font-size: 28px
      line-height: 36px
    &__img
      max-height: 211px

  .contacts-page
    padding-bottom: 50px

  .map
    margin: 30px 0 0
    height: 458px

  .list-contacts
    li
      flex-wrap: wrap
    p
      min-width: auto
      width: 100%
      margin: 0 0 10px


  .about-section
    padding-bottom: 0
    h1
      width: 100%
      padding: 0
      text-align: center
      margin: 30px auto 0
      font-size: 20px
      line-height: 32px

  .logo-company
    max-width: 314px
    width: 100%
    margin: 0 auto

  .about-section__content
    flex-wrap: wrap
    margin: 0 auto 42px


  .about-section__img
    width: calc(100% + 30px)
    margin: 0 -15px

  .priorities
    padding: 50px 0
    background: #FBFAF9
    &:before
      display: none

  .priorities-box
    margin: 0 0 30px
    h3
      margin: 0 0 20px
      font-size: 24px
      line-height: 28px
    .box-text
      font-size: 14px
      line-height: 24px

  .production-description
    margin: 50px 0
    h2
      font-size: 28px
      line-height: 32px
    .box-text
      margin: 0 0 40px

  .production-composition-about
    .production-composition-box
      margin: 0
      padding: 30px 0
      h3
        margin: 30px 0
        font-size: 24px
        line-height: 28px
      .box-text
        line-height: 24px
        font-size: 14px
    .production-wrapper
      margin: 30px 0 0

  .company-in-number
    margin: 50px 0 10px


  .company-in-number-box
    margin: 0 0 40px
    .box-text
      font-size: 16px
      line-height: 24px
    h3
      font-size: 60px
      line-height: 1
      margin: 0 0 20px
      span
        font-size: 14px
        line-height: 24px

  .details-about
    padding: 50px 0 0
    .production-composition-box
      margin: 0 0 50px
      .box-text
        font-size: 14px
        line-height: 24px
      .production-slider__item
        height: 250px
    h3
      font-size: 24px
      line-height: 28px
      margin: 40px 0
    .production-wrapper-max
      .production-slider
        min-width: auto
      .production-slider__item
        min-width: auto
        width: 100%
        height: 250px

  .company-departments
    padding: 30px 0 0

  .company-departments-box
    margin: 0 0 30px
    .box-text
      font-size: 14px
      line-height: 24px


  .productions-section
    margin: 50px 0 35px
    h3
      font-size: 28px
    .card-product__name
      line-height: 24px
    .links-arrow
      display: flex
      margin: 20px 0 0

  .productions-section .catalog-card.card-product1 .card-product__img
    width: 257px
    height: 187px
    top: -100px
    right: -90px

  .productions-section .catalog-card.card-product2 .card-product__img
    width: 348px
    height: 257px
    top: -80px
    right: -140px

  .productions-section .catalog-card.card-product3 .card-product__img
    width: 352px
    height: 249px
    top: -70px
    right: -140px

/* Custom, iPhone Retina */
@media only screen and (max-width: 480px)
  .logo
    max-width: 95px

  header
    .btn-menu, .btn-search
      display: none

    .links-social
      width: 26px
      height: 26px
      min-width: 26px

  .fixed-mobile
    display: block

  .overlay
    opacity: .1

  .product-card-col
    max-width: 50%


  .modal-dialog
    align-items: flex-end
    margin: 0
    min-height: 100%

  .modal
    height: calc(100% - 60px)

  .modal-backdrop
    height: calc(100vh - 60px)

  .modal-content
    border: none
      radius: 0
    padding: 30px 26px
    .form
      button
        margin: 0
        background: transparent
        border: 1px solid #000
        color: #000

  .modal-header
    margin: 0 0 10px
    .close
      border: none
        radius: 0
      width: 32px
      height: 32px
      top: 30px
      right: 26px
      padding: 7px

  .modal-title
    font-size: 16px
    line-height: 24px

  .modal-backdrop.show
    opacity: .1

  .gallery-preview
    display: none

  .gallery-product
    width: 100%
    padding: 0

  .code-product
    margin: 0 0 10px


  .product-page
    h1
      margin: 0 0 30px
      line-height: 36px
      font-size: 28px

  .gallery-product
    .slick-dots
      margin: 15px 0 0


  .gallery-product-item
    height: 302px
    .images-value
      right: auto
      left: 30px
      flex-direction: row
      &__icon
        margin: 5px 10px 0 0

  .product-content
    margin: 30px 0 0

  .description-product
    padding: 40px 0 0
    border-top: 2px solid #000
    .btn
      margin: 0 0 40px
      display: flex
    h3
      margin: 0 0 15px
      font-size: 16px
      line-height: 24px
    .box-text
      font-size: 14px
      line-height: 24px
      p
        margin: 0 0 25px

  .product-characteristic
    .list-radio
      display: none
    .js-tab-trigger
      display: flex
    .btn-order
      display: none